<form method="POST" action="/new">
    <h3>Print new Message</h3>
    <input type="text" name="userName" placeholder="Your Name">
    <br><br>
    <input type="text" name="messageText" placeholder="Message">
    <br>
    <button>Send Message</button>
</form>