<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <header>
        <% for(let i = 0; i<categories.length; i++) { %>
            <a href="/category/<%= categories[i].category %>"><%= categories[i].category %></a>
        <% } %>
    </header>
    <a href="/all">Посмотреть все товары</a><br>
    <a href="/new">Добавить новый товар</a><br>
    <a href="/deletecategory">Удалить категорию</a><br>
    <a href="/deleteproduct">Удалить товар</a>
</body>
</html>