<form action="/new" method="post">
    <input placeholder="Product Name" name="name" />
    <input placeholder="Product category" name="category" />
    <input placeholder="Brand" name="brand" />
    <input placeholder="Price" name="price" />
    <button>Создать</button>
</form>