<form action="/new" method="post">
    <input placeholder="Название товара" name="name" />
    <input placeholder="Категория товара" name="category" />
    <input placeholder="Бренд" name="brand" />
    <input placeholder="Цена" name="price" />
    <button>Создать</button>
</form>