<div>
    <% for(let i = 0; i<products.length; i++) { %>
        <div>
            <h3><%= products[i].name %></h3>
            <small><%= products[i].brand %></small>
            <h4><%= products[i].price %></h4>
        </div>
    <% } %>
</div>